In [ ]:
import pandas as pd

# File path
file_path_electricity = 'data/LSOA_domestic_elec_2010-22.xlsx'
file_path_gas = 'data/LSOA_domestic_gas_2010-2022.xlsx'

# Load the specific sheet and skip unnecessary rows
data_elec_2022 = pd.read_excel(file_path_electricity, sheet_name='2022', skiprows=4)
data_gas_2022 = pd.read_excel(file_path_gas, sheet_name= '2022', skiprows=4)

In [9]:
print(data_elec_2022.columns)

Index(['Local authority code', 'Local authority', 'MSOA code',
       'Middle layer super output area', 'LSOA code',
       'Lower layer super output area', 'Number\nof meters',
       'Total \nconsumption\n(kWh)', 'Mean \nconsumption\n(kWh per meter)',
       'Median \nconsumption\n(kWh per meter)'],
      dtype='object')

In [10]:
# Rename columns by adding "Electricity" before the existing names
data_elec_2022.rename(columns={
    'Number\nof meters': 'Electricity Number of Meters',
    'Total \nconsumption\n(kWh)': 'Electricity Total Consumption (kWh)',
    'Mean \nconsumption\n(kWh per meter)': 'Electricity Mean Consumption (kWh per Meter)',
    'Median \nconsumption\n(kWh per meter)': 'Electricity Median Consumption (kWh per Meter)'
}, inplace=True)

# Display updated column names
print(data_elec_2022.columns)

Index(['Local authority code', 'Local authority', 'MSOA code',
       'Middle layer super output area', 'LSOA code',
       'Lower layer super output area', 'Electricity Number of Meters',
       'Electricity Total Consumption (kWh)',
       'Electricity Mean Consumption (kWh per Meter)',
       'Electricity Median Consumption (kWh per Meter)'],
      dtype='object')

In [11]:
data_elec_2022.head()

,Local authority code,Local authority,MSOA code,Middle layer super output area,LSOA code,Lower layer super output area,Electricity Number of Meters,Electricity Total Consumption (kWh),Electricity Mean Consumption (kWh per Meter),Electricity Median Consumption (kWh per Meter)
0,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011954,Hartlepool 001A,1017.0,2573152.325,2530.139946,2229.7
1,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011969,Hartlepool 001B,632.0,1563653.743,2474.135669,2076.0
2,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011970,Hartlepool 001C,454.0,1265504.746,2787.455388,2323.2
3,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011971,Hartlepool 001D,527.0,1511979.398,2869.031116,2433.4
4,E06000001,Hartlepool,E02002483,Hartlepool 001,E01033465,Hartlepool 001F,901.0,2606200.457,2892.564325,2430.2

In [12]:
data_gas_2022.head()

,Local authority code,Local authority,MSOA code,Middle layer super output area,LSOA code,Lower layer super output area,Number\nof meters\n,Total \nconsumption\n(kWh),Mean \nconsumption\n(kWh per meter),Median \nconsumption\n(kWh per meter),Number of\nnon-consuming meters
0,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011954,Hartlepool 001A,1010.0,9.516314e+06,9422.093134,8676.695651,14.0
1,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011969,Hartlepool 001B,627.0,6.935124e+06,11060.803735,10249.445158,6.0
2,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011970,Hartlepool 001C,452.0,5.044414e+06,11160.207543,10380.343584,0.0
3,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011971,Hartlepool 001D,527.0,5.891713e+06,11179.721358,10614.582872,0.0
4,E06000001,Hartlepool,E02002483,Hartlepool 001,E01033465,Hartlepool 001F,901.0,1.038422e+07,11525.213184,10564.388739,5.0

In [13]:
# Rename columns by adding "Gas" before the existing names
data_gas_2022.rename(columns={
    'Number\nof meters': 'Gas Number of Meters',
    'Total \nconsumption\n(kWh)': 'Gas Total Consumption (kWh)',
    'Mean \nconsumption\n(kWh per meter)': 'Gas Mean Consumption (kWh per Meter)',
    'Median \nconsumption\n(kWh per meter)': 'Gas Median Consumption (kWh per Meter)',
    'Number of\nnon-consuming meters': 'Gas Number of Non-Consuming Meters'
}, inplace=True)

# Display updated column names
print(data_gas_2022.columns)

Index(['Local authority code', 'Local authority', 'MSOA code',
       'Middle layer super output area', 'LSOA code',
       'Lower layer super output area', 'Number\nof meters\n',
       'Gas Total Consumption (kWh)', 'Gas Mean Consumption (kWh per Meter)',
       'Gas Median Consumption (kWh per Meter)',
       'Gas Number of Non-Consuming Meters'],
      dtype='object')

In [14]:
data_gas_2022.head()

,Local authority code,Local authority,MSOA code,Middle layer super output area,LSOA code,Lower layer super output area,Number\nof meters\n,Gas Total Consumption (kWh),Gas Mean Consumption (kWh per Meter),Gas Median Consumption (kWh per Meter),Gas Number of Non-Consuming Meters
0,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011954,Hartlepool 001A,1010.0,9.516314e+06,9422.093134,8676.695651,14.0
1,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011969,Hartlepool 001B,627.0,6.935124e+06,11060.803735,10249.445158,6.0
2,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011970,Hartlepool 001C,452.0,5.044414e+06,11160.207543,10380.343584,0.0
3,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011971,Hartlepool 001D,527.0,5.891713e+06,11179.721358,10614.582872,0.0
4,E06000001,Hartlepool,E02002483,Hartlepool 001,E01033465,Hartlepool 001F,901.0,1.038422e+07,11525.213184,10564.388739,5.0

In [16]:
joined_data = pd.merge(data_gas_2022, data_elec_2022, on='LSOA code', how='inner')

In [17]:
joined_data.head()

,Local authority code_x,Local authority_x,MSOA code_x,Middle layer super output area_x,LSOA code,Lower layer super output area_x,Number\nof meters\n,Gas Total Consumption (kWh),Gas Mean Consumption (kWh per Meter),Gas Median Consumption (kWh per Meter),Gas Number of Non-Consuming Meters,Local authority code_y,Local authority_y,MSOA code_y,Middle layer super output area_y,Lower layer super output area_y,Electricity Number of Meters,Electricity Total Consumption (kWh),Electricity Mean Consumption (kWh per Meter),Electricity Median Consumption (kWh per Meter)
0,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011954,Hartlepool 001A,1010.0,9.516314e+06,9422.093134,8676.695651,14.0,E06000001,Hartlepool,E02002483,Hartlepool 001,Hartlepool 001A,1017.0,2573152.325,2530.139946,2229.7
1,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011969,Hartlepool 001B,627.0,6.935124e+06,11060.803735,10249.445158,6.0,E06000001,Hartlepool,E02002483,Hartlepool 001,Hartlepool 001B,632.0,1563653.743,2474.135669,2076.0
2,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011970,Hartlepool 001C,452.0,5.044414e+06,11160.207543,10380.343584,0.0,E06000001,Hartlepool,E02002483,Hartlepool 001,Hartlepool 001C,454.0,1265504.746,2787.455388,2323.2
3,E06000001,Hartlepool,E02002483,Hartlepool 001,E01011971,Hartlepool 001D,527.0,5.891713e+06,11179.721358,10614.582872,0.0,E06000001,Hartlepool,E02002483,Hartlepool 001,Hartlepool 001D,527.0,1511979.398,2869.031116,2433.4
4,E06000001,Hartlepool,E02002483,Hartlepool 001,E01033465,Hartlepool 001F,901.0,1.038422e+07,11525.213184,10564.388739,5.0,E06000001,Hartlepool,E02002483,Hartlepool 001,Hartlepool 001F,901.0,2606200.457,2892.564325,2430.2

In [19]:
joined_data.columns

Index(['Local authority code_x', 'Local authority_x', 'MSOA code_x',
       'Middle layer super output area_x', 'LSOA code',
       'Lower layer super output area_x', 'Number\nof meters\n',
       'Gas Total Consumption (kWh)', 'Gas Mean Consumption (kWh per Meter)',
       'Gas Median Consumption (kWh per Meter)',
       'Gas Number of Non-Consuming Meters', 'Local authority code_y',
       'Local authority_y', 'MSOA code_y', 'Middle layer super output area_y',
       'Lower layer super output area_y', 'Electricity Number of Meters',
       'Electricity Total Consumption (kWh)',
       'Electricity Mean Consumption (kWh per Meter)',
       'Electricity Median Consumption (kWh per Meter)'],
      dtype='object')

In [21]:
# List of columns to drop
columns_to_drop = [
    'Local authority code_x',
    'Local authority_x',
    'MSOA code_x',
    'Middle layer super output area_x',
    'Lower layer super output area_x',
    'Local authority code_y',
    'Local authority_y',
    'MSOA code_y',
    'Middle layer super output area_y',
    'Lower layer super output area_y'
]

# Drop the columns from the merged dataset
joined_data = joined_data.drop(columns=columns_to_drop)

# Display the first few rows to verify
print(joined_data.head())

   LSOA code  Number\nof meters\n  Gas Total Consumption (kWh)  \
0  E01011954               1010.0                 9.516314e+06
1  E01011969                627.0                 6.935124e+06
2  E01011970                452.0                 5.044414e+06
3  E01011971                527.0                 5.891713e+06
4  E01033465                901.0                 1.038422e+07

   Gas Mean Consumption (kWh per Meter)  \
0                           9422.093134
1                          11060.803735
2                          11160.207543
3                          11179.721358
4                          11525.213184

   Gas Median Consumption (kWh per Meter)  Gas Number of Non-Consuming Meters  \
0                             8676.695651                                14.0
1                            10249.445158                                 6.0
2                            10380.343584                                 0.0
3                            10614.582872                                 0.0
4                            10564.388739                                 5.0

   Electricity Number of Meters  Electricity Total Consumption (kWh)  \
0                        1017.0                          2573152.325
1                         632.0                          1563653.743
2                         454.0                          1265504.746
3                         527.0                          1511979.398
4                         901.0                          2606200.457

   Electricity Mean Consumption (kWh per Meter)  \
0                                   2530.139946
1                                   2474.135669
2                                   2787.455388
3                                   2869.031116
4                                   2892.564325

   Electricity Median Consumption (kWh per Meter)
0                                          2229.7
1                                          2076.0
2                                          2323.2
3                                          2433.4
4                                          2430.2

In [26]:
joined_data.head()

,LSOA code,Number\nof meters\n,Gas Total Consumption (kWh),Gas Mean Consumption (kWh per Meter),Gas Median Consumption (kWh per Meter),Gas Number of Non-Consuming Meters,Electricity Number of Meters,Electricity Total Consumption (kWh),Electricity Mean Consumption (kWh per Meter),Electricity Median Consumption (kWh per Meter)
0,E01011954,1010.0,9.516314e+06,9422.093134,8676.695651,14.0,1017.0,2573152.325,2530.139946,2229.7
1,E01011969,627.0,6.935124e+06,11060.803735,10249.445158,6.0,632.0,1563653.743,2474.135669,2076.0
2,E01011970,452.0,5.044414e+06,11160.207543,10380.343584,0.0,454.0,1265504.746,2787.455388,2323.2
3,E01011971,527.0,5.891713e+06,11179.721358,10614.582872,0.0,527.0,1511979.398,2869.031116,2433.4
4,E01033465,901.0,1.038422e+07,11525.213184,10564.388739,5.0,901.0,2606200.457,2892.564325,2430.2

In [ ]:
import pandas as pd

# File path
file_path = 'data/gdf_export.xlsx'  # Adjust the path if the file is not in the current directory

# Read the Excel file into a DataFrame
lsoa = pd.read_excel(file_path)

# Display the first few rows of the DataFrame
print(lsoa.head())

      type  id                                           geometry  LSOA code  \
0  Feature   1  POLYGON ((-0.0947444587942513 51.5205960989071...  E01000001
1  Feature   2  POLYGON ((-0.0881029936678932 51.5194124049263...  E01000002
2  Feature   3  POLYGON ((-0.0945327219241158 51.5220482084795...  E01000003
3  Feature   4  POLYGON ((-0.0758915997245415 51.5158964954293...  E01000005
4  Feature   5  POLYGON ((0.0932836802709727 51.5378718829999,...  E01000006

                                        centroid
0  POINT (-0.0970087629429991 51.51849937810878)
1    POINT (-0.092605440611062 51.5188380857561)
2   POINT (-0.0954004595053587 51.5217429245008)
3  POINT (-0.0761241125899271 51.51355025564608)
4   POINT (0.0883710399160112 51.53911550762943)

In [29]:
lsoa.head()

,type,id,geometry,LSOA code,centroid
0,Feature,1,POLYGON ((-0.0947444587942513 51.5205960989071...,E01000001,POINT (-0.0970087629429991 51.51849937810878)
1,Feature,2,POLYGON ((-0.0881029936678932 51.5194124049263...,E01000002,POINT (-0.092605440611062 51.5188380857561)
2,Feature,3,POLYGON ((-0.0945327219241158 51.5220482084795...,E01000003,POINT (-0.0954004595053587 51.5217429245008)
3,Feature,4,POLYGON ((-0.0758915997245415 51.5158964954293...,E01000005,POINT (-0.0761241125899271 51.51355025564608)
4,Feature,5,"POLYGON ((0.0932836802709727 51.5378718829999,...",E01000006,POINT (0.0883710399160112 51.53911550762943)

In [30]:
lsoa = lsoa.drop(columns=['type', 'id'])

In [31]:
lsoa.head()

,geometry,LSOA code,centroid
0,POLYGON ((-0.0947444587942513 51.5205960989071...,E01000001,POINT (-0.0970087629429991 51.51849937810878)
1,POLYGON ((-0.0881029936678932 51.5194124049263...,E01000002,POINT (-0.092605440611062 51.5188380857561)
2,POLYGON ((-0.0945327219241158 51.5220482084795...,E01000003,POINT (-0.0954004595053587 51.5217429245008)
3,POLYGON ((-0.0758915997245415 51.5158964954293...,E01000005,POINT (-0.0761241125899271 51.51355025564608)
4,"POLYGON ((0.0932836802709727 51.5378718829999,...",E01000006,POINT (0.0883710399160112 51.53911550762943)

In [33]:
# Merge the two DataFrames on the 'LSOA code' column
final_data = pd.merge(joined_data, lsoa, on='LSOA code', how='inner')

In [34]:
final_data.head()

,LSOA code,Number\nof meters\n,Gas Total Consumption (kWh),Gas Mean Consumption (kWh per Meter),Gas Median Consumption (kWh per Meter),Gas Number of Non-Consuming Meters,Electricity Number of Meters,Electricity Total Consumption (kWh),Electricity Mean Consumption (kWh per Meter),Electricity Median Consumption (kWh per Meter),geometry,centroid
0,E01011954,1010.0,9.516314e+06,9422.093134,8676.695651,14.0,1017.0,2573152.325,2530.139946,2229.7,"POLYGON ((-1.23503487767495 54.7081846331943, ...",POINT (-1.2371917528802197 54.71098181074516)
1,E01011969,627.0,6.935124e+06,11060.803735,10249.445158,6.0,632.0,1563653.743,2474.135669,2076.0,MULTIPOLYGON (((-1.24385284997751 54.713129387...,POINT (-1.2434655244305879 54.7172541053168)
2,E01011970,452.0,5.044414e+06,11160.207543,10380.343584,0.0,454.0,1265504.746,2787.455388,2323.2,"POLYGON ((-1.25260814953477 54.7144676537062, ...",POINT (-1.2551984463316481 54.71676343592156)
3,E01011971,527.0,5.891713e+06,11179.721358,10614.582872,0.0,527.0,1511979.398,2869.031116,2433.4,"POLYGON ((-1.25060624107019 54.7117778467414, ...",POINT (-1.253090677039755 54.711502531893615)
4,E01033465,901.0,1.038422e+07,11525.213184,10564.388739,5.0,901.0,2606200.457,2892.564325,2430.2,"POLYGON ((-1.24218978715679 54.7105562721814, ...",POINT (-1.2460327147256058 54.707954605336795)

In [38]:
# Split the 'centroid' column to extract longitude and latitude
final_data[['longitude', 'latitude']] = final_data['centroid'].str.extract(r'POINT \(([-\d.]+) ([-\d.]+)\)')

# Convert them to numeric for further analysis
final_data['longitude'] = pd.to_numeric(final_data['longitude'])
final_data['latitude'] = pd.to_numeric(final_data['latitude'])

# Drop the original 'centroid' column if it's no longer needed
final_data = final_data.drop(columns=['centroid'])

In [40]:
# Save the DataFrame to an Excel file
final_data.to_excel('final_data.xlsx', index=False)